body{
    background-image: linear-gradient(to right, #9370DB,#7B68EE);
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #778899;
    padding: 30px;
    border-radius: 15px;
    width: 30%;
}
fieldset{
    border: 3px solid #465775;
    border-radius: 10px;
}
legend{
    border: 1px solid #6959CD;
    padding: 10px;
    text-align: center;
    background-color: #6959CD;
    border-radius: 8px;
}
.inputBox{
    position: relative;

}
.inputUser{
    background: none;
    border: none;/*tirar a borda*/
    border-bottom: 1px solid white;
    outline: none;/*tirar a linha de fora do input*/
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 1px;/*espaço entre cada caracter no input*/
}

.labelinput{/*animação das labels - nessa parte, as labels irão se encaixar dentro dos inputs*/
    position: absolute; /*vai ocupar apenas o elemento dela mesma*/
    top: 0px;
    left: 0px;
    pointer-events: none;/*qualquer lugar que eu clicar dentro do input, ele vai executar a ação*/
    transition: 5px; /*transição - para criação de efeitos de animação personalizado */
}

/*Quando clicar no input eu quero que a label vai para cima do input -  por isso a ação é input*/

.inputUser:focus ~ .labelinput, /*executar uma ação na nossa label*/
.inputUser:valid ~ .labelinput {/*quando o input tiver válido, eu quero que ele execute essa ação para a 
label - a informação irá permanecer no input, senão irá ficar por cima*/
    top: -20px;
    font-size: 20px;
    color: rgb(170, 147, 253);

}

#data_nascimento{
    border: none;
    padding: 8 px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

#enviar{
    background-image: #000000;
    width: 100%;
    border: none; /*tirar borda do botão Enviar*/
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer; /*Qdo passar o mouse encima do botão enviar, muda o cursor*/
    border-radius: 10px;
}

#enviar:hover{
    background-image: linear-gradient(to right, rgb(0, 92, 192))
    /*vQdo passar o mouse por cima do botão enviar, irá aplicar esse azul um pouco mais escuro*/
}

